<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div>
		<p th:text="'Nome: ' + ${artista.nome}" />
	</div>
	<div>
		<p th:text="'Data di nascita: ' + ${artista.dataNascita}" />
	</div>
	<div>
		<p th:text="'Data morte: ' + ${artista.dataMorte}" />
	</div>

	<h1>Nel sistema ci sono queste opere associate a questo artista:</h1>
		<ul th:each="opera : *{opere}">

			<li><a th:href="@{/paginaOpera/} + ${opera.id}"> 
					<span th:text="${opera.titolo}">text</span>
			</a>
			 <form action="#" th:action="@{/eliminaOpera}"  method="post">
			 <input type="hidden" name="id" th:value="${opera.id}"/>
			 <input type="hidden" name="artistaId" th:value="${artista.id}"/>
			 
			<span><button type="submit">cancella</button></span>
			</form>
			</li>

		</ul>
	<a th:href="@{/nuovaOpera/} + ${artista.id}">Aggiungi nuova Opera</a>

</body>
</html>