<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div>
		<p th:text="'First name: ' + ${artista.nome}" />
	</div>
	<div>
		<p th:text="'Data di nascita: ' + ${artista.dataNascita}" />
	</div>
	<div>
		<p th:text="'Data morte: ' + ${artista.dataMorte}" />
	</div>

	<h1>Nel sistema ci sono queste opere associate a questo artista:</h1>
	<form action="#" th:action="@{/eliminaOpera}" th:object="${opera}" method="post">
		<ul th:each="opera : *{opere}">

			<li><a th:href="paginaOpera/{${opera.id}}"> Nome
					<span th:text='${opera.nome}'>text</span>
			</a>
			<span><button type="submit">cancella</button></span>
			</li>

		</ul>
		
	</form>
	<form action="#" th:action="@{/aggiuntaOpere}" th:object="${opera}" method="post" >
		<div>
			<div>
				<span th:text="#{label.title}">titolo </span> <span><input
					type="text" th:field="*{titolo}" /></span> <span
					th:if="${#fields.hasErrors('titolo')}" th:text="#{label.mandatory}">Error</span>
			</div>
			<div>
				<span th:text="#{label.description}">descrizione </span> <span><input
					type="text" th:field="*{descrizione}" /></span> <span
					th:if="${#fields.hasErrors('descrizione')}"
					th:text="#{label.mandatory}">Error</span>
			</div>
			<div>
				<span th:text="#{label.technique}">tecnica</span> <span><input
					type="text" th:field="*{tecnica}" /></span> <span
					th:if="${#fields.hasErrors('tecnica')}"
					th:text="#{label.mandatory}">Error</span>
			</div>
			<div>
				<span th:text="#{label.anno}">anno</span> <span><input
					type="text" th:field="*{anno}" /></span> <span
					th:if="${#fields.hasErrors('anno')}" th:text="#{label.mandatory}">Error</span>
			</div>
		</div>
	</form>

</body>
</html>