<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Vista Artista</title>
</head>
<body>
	<h1>Gli artisti presenti nel sistema sono :</h1>


	<ul th:each="artista : *{artisti}">
		<li><a th:href="@{/paginaArtista/} + ${artista.id}" ><span th:text="${artista.nome}">..</span> </a>
			<form action="#" th:action="@{/rimuoviArtista}" method="post">
				<input type="hidden" name="id" th:value="${artista.id}"/>
				<input type="submit" value ="cancella"/>
			</form></li>

	</ul>



</body>
</html>