<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Vista Artista</title>
</head>
<body>
	<h1>Gli artisti presenti nel sistema sono :</h1>
	<form action="#" th:action="@{/rimuoviArtista}" th:object="${artista}"
		method="post">
		<ul th:each="artista : *{artisti}">

			<li><a th:href="paginaArtista/{${artista.id}}"> Nome
					Artista:<span th:text='${artista.nome}'>text</span>
             
							
			</a>
			<span><button type="submit">cancella</button></span>
			</li>

		</ul>
	</form>


</body>
</html>